#wrapper-detail-page {
  /* width: 1000px; */
  margin: 30px 0;
}

#section-image-detail-page {
  display: flex;
  justify-content: center;
}

#title-detail-page {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

#detail-detail-page {
  margin: 20px 0;
}

#detail-detail-page > div {
  padding: 5px 0;
}

#description-detail-page {
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

#detail-detail-page > div > span {
  font-weight: 600;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  #wrapper-detail-page {
    /* width: 1000px; */
    margin: 30px 0;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}